include ../configs/config.pug
doctype html
html(lang="en")
  head
    include ../configs/head.pug
  body
    header
      include ../includes/header.pug
    main
      block content
    footer
      include ../includes/footer.pug