include ../configs/config.pug
doctype html
html(lang="en")
  head
    include ../configs/head.pug
  body
    header.block__header
      include ../includes/header.pug
    main.block__main
      block content
    footer.block__footer
      include ../includes/footer.pug
    block scripts