extend ../templates/template.pug
block content
  include ../includes/sections/nosotros.pug
  include ../includes/sections/tutoriales.pug
  include ../includes/sections/cursos.pug
  include ../includes/sections/banner.pug
  include ../includes/sections/blog.pug
  include ../includes/sections/comentarios.pug
  include ../includes/sections/team.pug
  include ../includes/sections/shop.pug
  include ../includes/sections/contacto.pug
block scripts
  script(src="./js/scripts.js")
  