section.section__banner#banner
  .banner__container
    article.banner__fact
      img(src="./assets/icons/sillon-barberia.png", alt="").banner-fact__img
      h3.banner-fact__title 5174
      p.banner-fact__text anécdotas compartidas
    article.banner__fact
      img(src="./assets/icons/bigote.png", alt="").banner-fact__img
      h3.banner-fact__title 8613
      p.banner-fact__text bigotes peinados
    article.banner__fact
      img(src="./assets/icons/maquinilla-de-afeitar.png", alt="").banner-fact__img
      h3.banner-fact__title 6774
      p.banner-fact__text afiladas