section.section__blog#blog
  .blog__container
    h2 el blog
      br
      span latest from the blog
    article.blog__post
      .blog__picture
        .blog__img-container
          img(src="./assets/images/blog1.jpg", alt="").blog__img
      .blog__content
        h3.blog__title Un titulo de un articulo de blog va acá
        .blog__resume
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore aspernatur soluta, in molestiae illo tenetur autem nisi asperiores aliquam, iusto voluptatum! Molestiae officia nam doloribus unde, perferendis minima commodi debitis.
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore aspernatur soluta, in molestiae illo tenetur autem nisi asperiores
        a(href="#").blog__read-more Seguir leyendo... 
    article.blog__post
      .blog__picture
        .blog__img-container
          img(src="./assets/images/blog2.jpg", alt="").blog__img
      .blog__content
        h3.blog__title Un titulo de un articulo de blog va acá
        .blog__resume
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore aspernatur soluta, in molestiae illo tenetur autem nisi asperiores aliquam, iusto voluptatum! Molestiae officia nam doloribus unde, perferendis minima commodi debitis.
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore aspernatur soluta, in molestiae illo tenetur autem nisi asperiores
        a(href="#").blog__read-more Seguir leyendo... 
    article.blog__post
      .blog__picture
        .blog__img-container
          img(src="./assets/images/blog3.jpg", alt="").blog__img
      .blog__content
        h3.blog__title Un titulo de un articulo de blog va acá
        .blog__resume
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore aspernatur soluta, in molestiae illo tenetur autem nisi asperiores aliquam, iusto voluptatum! Molestiae officia nam doloribus unde, perferendis minima commodi debitis.
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore aspernatur soluta, in molestiae illo tenetur autem nisi asperiores
        a(href="#").blog__read-more Seguir leyendo... 