section.section__comentarios#banner
  .comentarios__container
    article.comentario__box.comentario__on#comentario-01
      p "Por favor, no me coma señor extraterrestre, tengo una esposa y tres hijos..., cómaselos a ellos"
      span Juan Lopez
        span founter of google
    article.comentario__box.comentario__hide#comentario-02
      p "Moe, sírveme algo fuerte como para olvidar que las odio (a sus cuñadas), pero no tanto como para creer que las quiero"
      span Cacho Gutuierrez
        span cto of facebook
    article.comentario__box.comentario__hide#comentario-03
      p "Bart, con esos 10.000 dólares seríamos millonarios y podríamos comprar todo tipo de cosas útiles como... ¿amor?"
      span Pedro Ramirez
        span ceo at tinder