section.section__cursos#cursos
  .cursos__container
    h2 cursos y talleres
      br
      span courses & workshops
    article.curso__post
      .curso__picture
        .curso__img-container
          img(src="./assets/images/curso1.jpg", alt="").curso__img
      .curso__content
        h3.curso__title Un titulo de un curso va acá sarasa sarasa
        .curso__resume
          p
            span Qué vas a aprender?
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia enim iure laboriosam fugit! Quam maxime voluptates accusantium 
          p
            span Qué Necesitas tener?
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem natus quidem fuga nihil commodi eum quibusdam sit nemo! Iusto, incidunt autem unde esse officiis sunt! Ipsa fugit illum placeat harum!
          p
            span Qué vas a aprender?
            | A cortar el pelo bro
        a(href="#").curso__read-more Anotate al curso... 

    article.curso__post
      .curso__picture
        .curso__img-container
          img(src="./assets/images/curso2.jpg", alt="").curso__img
      .curso__content
        h3.curso__title Un titulo de un curso va acá sarasa sarasa
        .curso__resume
          p
            span Qué vas a aprender?
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia enim iure laboriosam fugit! Quam maxime voluptates accusantium 
          p
            span Qué Necesitas tener?
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem natus quidem fuga nihil commodi eum quibusdam sit nemo! Iusto, incidunt autem unde esse officiis sunt! Ipsa fugit illum placeat harum!
          p
            span Qué vas a aprender?
            | A cortar el pelo bro
        a(href="#").curso__read-more Anotate al curso... 