section.section__nosotros#nosotros
  header.nosotros__container
    h2 barber of today
      br 
      span who are we?
  .nosotros__cards-container
    .nosotros__card
      img(src="./assets/icons/maquinilla-de-afeitar.png", alt="").ncard__img
      h3.ncard__title Titulo Card
      p.ncard__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, placeat recusandae quam quas ipsum necessitatibus error eligendi molestias eveniet ratione quo similique magnam veniam aliquam laudantium. Ducimus nesciunt error consectetur?
    .nosotros__card
      img(src="./assets/icons/tijeras.png", alt="").ncard__img
      h3.ncard__title Titulo Card
      p.ncard__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, placeat recusandae quam quas ipsum necessitatibus error eligendi molestias eveniet ratione quo similique magnam veniam aliquam laudantium. Ducimus nesciunt error consectetur?