section.section__nosotros#section__nosotros
  .nosotros__container
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi fugiat tempore ducimus provident? Non ducimus minima quas, similique expedita enim labore delectus esse harum. Ducimus repellendus fugiat recusandae iste enim.