section.section__tutoriales#tutoriales
  .tutoriales__container
    h2 TUTORIALES
    .tutoriales__content
      a(href="https://youtube.com/barberoftodayvideos" target="_blank").tutoriales__youtube
        img(src="./assets/images/yt.png", alt="")
      .tutoriales__texts
        img(src="./assets/logos/logo-isologo-negro.png", alt="")
        h3 Ya estas suscripto?
        p No te pierdas nuestro canal con contenido nuevo todas las semanas
        a(href="https://youtube.com/barberoftodayvideos" target="_blank") ver el canal