.footer__container
  p.footer-copy &copy; 2021 - 
    span BarberOfToday
  img(src="./assets/logos/logo-isologo-negro.png", alt="")
  p.footer-dev Desarrollo web: 
    span
      a(href="https://dosunouno.dev/" target="_blank") dosunouno.dev