.hero__container
  .hero__logo
    img(src="./assets/logos/logo-isologo-negro.png", alt="")
  .hero__content
    span.hero__pretitle cursos, tutoriales y productos
    h1.hero__title aca va un texto copado que cambia
    span.hero__subtitle una plataforma pensada y creada por barberos, para barberos
  .hero__start
    span.hero__cta inicio