.hero__container
  .hero__logo-container
    img(src="./assets/logos/logo-isologo-negro.png", alt="").hero__logo
  .hero__content
    h1.hero__title
      span pensado y creado
      span por barberos
      span para barberos
  .hero__start
    a(href="#section__nosotros").hero__cta inicio