/*! -------------------------
Reset
-------------------------- */
html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
}

img {
  max-width: 100%;
  display: block;
  border-style: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*! -------------------------
Base
-------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #FDFDFC;
}

h1, h2, h3, h4, p, span, br {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 65px;
  scroll-margin: 65px;
}

.section__nosotros {
  padding-top: 130px;
  scroll-margin: 0px;
}

section div {
  width: 100%;
  max-width: 1300px;
}

/*! -------------------------
Typo
-------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #3c3b3c;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #e63939;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 4.8rem;
  }
}
h2 span {
  position: relative;
  z-index: -1;
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #202022;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  h2 span {
    font-size: 2.4rem;
  }
}
h2 span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  background-color: rgba(230, 57, 57, 0.5);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #e63939;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 3rem;
  }
}

/*! -------------------------
Animations
-------------------------- */
/*! -------------------------
Buttons
-------------------------- */
.navbar__button-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .navbar__button-menu {
    display: none;
  }
}

.menu-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
@media (hover: hover) and (pointer: fine) {
  .menu-icon-container {
    cursor: pointer;
  }
  .menu-icon-container:hover > .menu-icon {
    background-color: #e63939;
    transform: scale(1.1);
  }
  .menu-icon-container:hover > .menu-icon--active {
    background-color: #202022;
    transform: rotate(45deg) scale(1);
  }
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 4px;
  background-color: #202022;
  will-change: background-color, transform;
  transition-property: background-color, transform;
  transition-duration: 0.5s;
  transition-delay: 0;
  transition-timing-function: linear;
}
.menu-icon::after, .menu-icon::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #202022;
  will-change: background-color, transform, opacity;
  transition-property: background-color, transform, opacity;
  transition-duration: 0.5s;
  transition-delay: 0;
  transition-timing-function: linear;
}
.menu-icon::after {
  transform: translateY(-10px);
}
.menu-icon::before {
  transform: translateY(10px);
}

.menu-icon--active {
  background-color: #e63939;
  transform: rotate(45deg) scale(0.8);
}
.menu-icon--active::after {
  transform: translateY(0px);
  opacity: 0;
}
.menu-icon--active::before {
  transform: translateY(0px) rotate(90deg);
  background-color: #e63939;
}

.hero__cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #e63939;
  background-color: rgba(253, 253, 252, 0.2);
  border: 2px solid #e63939;
  border-radius: 20px;
  will-change: color, background-color, border;
  transition-property: color, background-color, border;
  transition-duration: 0.5s;
  transition-delay: 0;
  transition-timing-function: linear;
}
@media (hover: hover) and (pointer: fine) {
  .hero__cta:hover {
    color: #e1edf2;
    background-color: rgba(4, 4, 0, 0.8);
    border: 2px solid #e1edf2;
  }
}
.hero__cta i {
  margin-left: 10px;
  font-size: 2.4rem;
}

/*! -------------------------
Carrousels
-------------------------- */
/*! -------------------------
Forms
-------------------------- */
/*! -------------------------
Menus
-------------------------- */
.menu__container {
  position: absolute;
  top: 62px;
  right: 0px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: calc(100vh - 62px);
  padding: 40px 0 60px;
  background-color: #202022;
  transform: translate(0);
  will-change: transform, opacity;
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-delay: 0;
  transition-timing-function: linear;
}

.menu__container--hide {
  transform: translatex(-100%);
  opacity: 0;
  pointer-events: none;
}

.menu__link {
  transform: skew(-45deg) translatex(-20px);
  align-self: flex-start;
  width: 80%;
  background-color: rgba(230, 57, 57, 0.9);
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #e1edf2;
}
.menu__link:nth-child(even) {
  transform: skew(-45deg) translatex(20px);
  align-self: flex-end;
  background-color: rgba(225, 237, 242, 0.9);
  color: #e63939;
  text-align: center;
}

.menu__item {
  transform: skew(45deg);
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}

/*! -------------------------
Layout
-------------------------- */
.block__header,
.block__main,
.block__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner__container,
.comentarios__container,
.tutoriales__container,
.shop__container {
  max-width: 1300px;
}

/*! -------------------------
Grid
-------------------------- */
/*! -------------------------
Header
-------------------------- */
/*! -------------------------
Hero
-------------------------- */
.header__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/hero.jpg");
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 20px 60px;
  background-image: linear-gradient(to bottom, rgba(4, 4, 0, 0), rgba(4, 4, 0, 0.8));
}

.hero__logo-container {
  height: 25vh;
}
@media screen and (min-width: 768px) {
  .hero__logo-container {
    height: 40vh;
  }
}
.hero__logo-container .hero__logo {
  height: 100%;
  filter: invert(1) drop-shadow(5px 5px 5px #e63939);
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #e1edf2;
}
.hero__content .hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
}
.hero__content .hero__title span {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
}
.hero__content .hero__title span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}
.hero__content .hero__title span:nth-child(1), .hero__content .hero__title span:nth-child(3) {
  font-size: 2.4rem;
}
.hero__content .hero__title span:nth-child(1)::after, .hero__content .hero__title span:nth-child(3)::after {
  background-color: rgba(230, 57, 57, 0.5);
}
@media screen and (min-width: 768px) {
  .hero__content .hero__title span:nth-child(1), .hero__content .hero__title span:nth-child(3) {
    font-size: 5.6rem;
  }
}
.hero__content .hero__title span:nth-child(2) {
  font-size: 3rem;
  color: #e63939;
}
.hero__content .hero__title span:nth-child(2)::after {
  background-color: rgba(225, 237, 242, 0.5);
}
@media screen and (min-width: 768px) {
  .hero__content .hero__title span:nth-child(2) {
    font-size: 6.4rem;
  }
}

/*! -------------------------
Navbar
-------------------------- */
.header__navbar {
  position: absolute;
  top: 100vh;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
  border-bottom: 2px solid #c3c4c2;
  background-color: #FDFDFC;
}

.navbar-fix {
  position: fixed;
  top: 0;
  left: 0;
}

.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  max-width: 1300px;
  z-index: 120;
}

.navbar__logo-container {
  position: relative;
  width: 120px;
  height: 60px;
}

.navbar__logo {
  width: 100%;
}

.navbar__links-container {
  display: none;
  width: 100%;
  height: 100%;
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  .navbar__links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .navbar__links-container {
    justify-content: center;
  }
}

.navbar__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  margin: 0 10px;
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  .navbar__link {
    will-change: background-color;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-delay: 0;
    transition-timing-function: linear;
  }
  .navbar__link:hover {
    background-color: #e1edf2;
  }
  .navbar__link:hover > .navbar__item {
    color: #e63939;
  }
}
.navbar__link:first-child {
  display: none;
}
@media screen and (min-width: 880px) {
  .navbar__link:first-child {
    display: inherit;
  }
}

.navbar__item {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #202022;
  will-change: color;
  transition-property: color;
  transition-duration: 0.3s;
  transition-delay: 0;
  transition-timing-function: linear;
}

.navbar__buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.navbar__button-social {
  width: 30px;
  margin-right: 5px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .navbar__button-social {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .navbar__button-social {
    display: initial;
  }
}

.button-social__icon {
  font-size: 2rem;
  color: #e63939;
}
@media (hover: hover) and (pointer: fine) {
  .button-social__icon {
    will-change: color;
    transition-property: color;
    transition-duration: 0.5s;
    transition-delay: 0;
    transition-timing-function: linear;
  }
  .button-social__icon:hover {
    color: #202022;
  }
}

/*! -------------------------
Footer
-------------------------- */
/*! -------------------------
Index
-------------------------- */
/*! -------------------------
Section - Blog
-------------------------- */
/*! -------------------------
Section - Nosotros
-------------------------- */
/*! -------------------------
Section - Cursos
-------------------------- */
/*! -------------------------
Section - Tutoriales
-------------------------- */
.section__tutoriales {
  background-color: #040400;
  padding-bottom: 65px;
}

/*! -------------------------
Section - Team
-------------------------- */
/*! -------------------------
Section - Shop
-------------------------- */
.section__shop {
  background-color: #e63939;
  padding-bottom: 65px;
}

.shop__container h3 {
  color: #e1edf2;
}

/*! -------------------------
Section - Contacto
-------------------------- */
/*! -------------------------
Sub - Banner
-------------------------- */
.section__banner {
  background-color: #e1edf2;
  padding-bottom: 65px;
}

/*! -------------------------
Sub - Comentarios
-------------------------- */
.section__comentarios {
  background-color: #e1edf2;
  padding-bottom: 65px;
}

/*! -------------------------
Admin
-------------------------- */
/*! -------------------------
Default
-------------------------- */