/*! -------------------------
Section - Nosotros
-------------------------- */

@use "../abstract" as *;

.nosotros__cards-container {
  @include flex(column, initial,center);
  width: 100%;
  margin-top: 60px;
  padding: 0 20px;
  @include tablet {
    @include flex(row, center,initial);
  }
}

.nosotros__card {
  @include flex(column, initial, center);
  max-width: 400px;
  margin: 20px;
  margin-bottom: 60px;
  padding: 20px;
  // border-radius: 10px;
  background-color: $color-label;
  background-image: linear-gradient(to bottom, $color-bg-light, $color-label);
  box-shadow: 3px 3px 8px 0 $color-bg-dark;
  &:last-child {
    margin-bottom: 0;
  }
  @include tablet {
    margin-bottom: 0;
  }
}

.ncard__img {
  position: absolute;
  width: 80px;
  transform: translatey(-60px);
}

.ncard__title {
  margin-top: 40px;
  text-align: center;
}

.ncard__text {
  margin-top: 20px;
  text-align: center;
}