/*! -------------------------
Section - Blog
-------------------------- */

@use "../abstract" as *;

.blog__post {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  margin: 0 20px;
  margin-top: 40px;
  background-color: $color-label;
  @include tablet {
    flex-direction: row;
  }
}

@include tablet {
  .blog__post:nth-child(odd) {
    .blog__picture {
      order: 1;
    }
  }
}


.blog__picture,
.blog__content {
  width: 100%;
  padding: 20px;
  @include tablet {
    width: 50%;
  }
}

.blog__img-container {
  height: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blog__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog__title {
  max-width: 25ch;
  margin-bottom: 20px;
  text-align: start;
}

.blog__resume p {
  margin: 20px 0 ;
  line-height: 1.5;
}

.blog__read-more {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  color: $color-bg-light;
  background-color: $color-primary;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  @include transition(.3s,0,linear,color,background-color);
  &:hover {
    color: $color-primary;
    background-color: $color-bg-light;
  }
}