/*! -------------------------
Section - Nosotros
-------------------------- */

@use "../abstract" as *;

// .nosotros__container {

// }

.nosotros__cards-container {
  @include flex(column, initial,center);
  width: 100%;
  margin-top: 60px;
  padding: 0 20px;
  @include tablet {
    @include flex(row, center,initial);
  }
}

.nosotros__card {
  @include flex(column, initial, flex-start);
  margin: 20px;
  margin-bottom: 60px;
  padding: 20px;
  background-color: rgba($color-bg-light, 0.2);
  background-image: url(../assets/images/barba1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode:overlay;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 8px 0 $color-bg-dark;
  .ncard__title {
    margin-top: 40px;
    color: $color-secondary;
  }
  .ncard__text {
    margin: 40px 0 0;
    padding: 20px;
    font-size: 1.8rem;
    // font-weight: 600;
    text-align: end;
    color: $color-bg-light;
    background-color: rgba($color-bg-dark, 0.5);
    @include tablet {
      width: 75%;
    }
  }
  &:last-child {
    align-items: flex-end;
    margin-bottom: 0;
    background-image: url(../assets/images/peoplebw-cut.jpg);
    background-position: right;
    .ncard__text {
      text-align: start;
      color: $color-bg-light;
    }
  }
  @include tablet {
    margin-bottom: 0;
  }
}

.ncard__img {
  position: absolute;
  width: 80px;
  transform: translatey(-60px);
  filter: drop-shadow(0px 0px 5px $color-secondary);
}



