/*! -------------------------
Base
-------------------------- */

@use "../abstract" as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-bg-light;
}

h1, h2, h3, h4, p, span {
  margin: 0;
  padding: 0;
}