/*! -------------------------
Buttons
-------------------------- */

@use "../abstract" as *;

// NAV BTN MENU
// ** espacio reservado en navbar 60x60
.navbar__button-menu {
  @include flex(row, center, center);
  width: 60px;
  height: 60px;
  @include tablet {
    display: none;
  }
}

// Margen clickeable y animado

.menu-icon-container {
  @include flex(row, center, center);
  width: 40px;
  height: 40px;
  @media (hover: hover) and (pointer: fine) {
    cursor: pointer;
    &:hover {
      & > .menu-icon {
        background-color:$color-primary;
        transform: scale(1.1);
      }
      & > .menu-icon--active {
        background-color:$color-text-dark;
        transform: rotate(45deg) scale(1);
      }
    }
  }
}

// Item animado

.menu-icon {
  position: relative;
  width: 30px;
  height: 4px;
  background-color: $color-text-dark;
  @include transition(.5s, 0, linear, background-color, transform);

  &::after, &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: $color-text-dark;
    @include transition(.5s, 0, linear, background-color, transform, opacity);
  }
  &::after {
    transform: translateY(-10px);
  }
  &::before {
    transform: translateY(10px);
  }
}

// Estado activo

.menu-icon--active {
  background-color: $color-primary;
  transform: rotate(45deg) scale(0.8);

  &::after {
    transform: translateY(0px);
    opacity: 0;
  }
  &::before {
    transform: translateY(0px) rotate(90deg);
    background-color: $color-primary;
  }
}



// HERO CTA

.hero__cta {
  @include flex-center(row);
  margin-top: 20px;
  padding: 15px 30px;
  font-size: $size-md1;
  font-family: $font-secondary;
  font-weight: $bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-primary;
  background-color:rgba($color-bg-light, 0.2);
  border: 2px solid $color-primary;
  border-radius: 20px;
  @include transition(.5s, 0, linear, color,background-color,border);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $color-secondary;
      background-color: rgba($color-bg-dark, 0.8);
      border: 2px solid $color-secondary;
    }
  }
  i {
    margin-left: 10px;
    font-size: $size-lg1;
  }
}