//- MIXINS



//- VARIABLES

//- Titulos y descripciones varias
    para website y opengraph protocol

- let siteTitle = 'Barber Of Today - Tutoriales, Cursos y Productos'
- let siteDescription = 'Una plataforma de barberos para barberos'



//- ARRAYS & OBJETOS
-
  let navLinks = {
    'Nosotros': 'nosotros',
    'Cursos': 'cursos',
    'Tutoriales': 'tutoriales',
    'Blog': 'blog',
    'Team': 'team',
    'Shop': 'shop',
    'Contacto': 'contacto',
  }