//- meta

meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='robots' content='follow, index')
meta(name='description' content='')
meta(name='author' content='dosunouno.dev / Martín Fernández')
title= `${siteTitle}`

//- open graph protocol

meta(property='og:title' content=''+ siteTitle)
meta(property='og:type' content='Un website de barberos')
meta(property='og:description' content=''+ siteDescription)
meta(property='og:url' content='https://url.com')
meta(property='og:image' content='./assets/icons/')

//- css

link(rel='stylesheet' href='./css/styles.css')


//- fonts

link(rel="preconnect", href="https://fonts.gstatic.com")
link(href!="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap", rel="stylesheet")
link(href!="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap", rel="stylesheet")


//- favicons

link(rel="icon", type="image/png", sizes="96x96", href="./assets/icons/fav/favicon-96x96.png")


//- icons

script(src="https://kit.fontawesome.com/6043d9e4ba.js", crossorigin="anonymous")