/*! -------------------------
Layout
-------------------------- */

@use "../abstract" as *;

.block__header,
.block__main,
.block__footer {
  @include flex-center(column);
  width: 100%;
}

.banner__container,
.comentarios__container,
.tutoriales__container,
.shop__container {
  max-width: 1300px;
}

.footer__container {
  width: 100%;
  max-width: 1300px;
}