/*! -------------------------
Layout
-------------------------- */

@use "../abstract" as *;

.block__header,
.block__main,
.block__footer {
  @include flex-center(column);
  width: 100%;
}

.banner__container,
.tutoriales__container,
.comentarios__container,
.shop__container {
  max-width: 100%;
  height: 350px;
  background-color: $color-primary;
}