/*! -------------------------
Navbar
-------------------------- */

@use "../abstract" as *;

// NAV

.header__navbar {
  position: absolute;
  top: 100vh;
  left: 0;
  @include flex-center(row);
  width: 100%;
  height: 62px;
  border-bottom: 2px solid $color-label;
  background-color: $color-bg-light;
}

.navbar-fix {
  position: fixed;
  top: 0;
  left: 0;
}



// NAV CONTAINER

.navbar__container {
  @include flex(row, space-between,center);
  width: 100%;
  height: 60px;
  max-width: 1300px;
  z-index: 120
}



// NAV LOGO

.navbar__logo-container {
  position: relative;
  width: 120px;
  height: 60px;
}

.navbar__logo {
  width: 100%;
}



// NAV LINKS

.navbar__links-container {
  display: none;
  width: 100%;
  height: 100%;
  margin: 20px 0;
  @include tablet {
    @include flex(row, flex-end, center);
  }
  @include laptop {
    justify-content: center;
  }
}

.navbar__link {
  @include flex-center(row);
  height: 100%;
  padding: 0 10px;
  margin: 0 10px;
  text-decoration: none;
  @media (hover: hover) and (pointer: fine) {
    @include transition(.5s, 0, linear, background-color);
    &:hover {
      background-color:$color-secondary;
      & > .navbar__item {
        color:$color-primary;
      }
    }
  }
  &:first-child {
    display: none;
    @media screen and (min-width:880px) {
      display: inherit;
    }
  }
}

.navbar__item {
  font-family: $font-primary;
  font-size: $size-md1;
  font-weight: $bold;
  text-transform: uppercase;
  color: $color-text-dark;
  @include transition(.3s, 0, linear, color);
}



// NAV BOTONERA TOP RIGHT
// ** SOCIALS + BURGER

.navbar__buttons-container {
  @include flex(row, flex-end, center);
  height: 60px;
}

.navbar__button-social {
  width: 30px;
  margin-right: 5px;
  text-align: center;
  @include tablet {
    display: none;
  }
  @include laptop {
    display: initial;
  }
}

.button-social__icon {
  font-size: 2.0rem;
  color: $color-primary;
  @media (hover: hover) and (pointer: fine) {
    @include transition(.5s, 0, linear, color);
    &:hover {
      color:$color-text-dark;
    }
  }
}

.menu__container {
  position: absolute;
  top: 62px;
  right: 60px;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color:rgba($color-text-dark, 0.95);
  transform: translate(0);
  @include transition(.5s,0, linear, transform,opacity)
}

.menu__container--hide {
  transform: translatex(-100%);
  opacity: 0;
  pointer-events: none;
}