// /*! -------------------------
// Colors
// -------------------------- */

@use "./variables" as *;

// Branding
$color-primary: #e63939;
$color-secondary: #c7e3ee;
$color-primary-light: lighten($color-primary, 10%);
$color-secondary-light: lighten($color-secondary, 10%);

// Bg & Fg
$color-bg-light: #FDFDFC;
$color-bg-dark: #040400;

// Texts
$color-text-dark: #202022;
$color-text: #3c3b3c;
$color-label: #e8e9e6;


