// /*! -------------------------
// Colors
// -------------------------- */

@use "./variables" as *;

// Branding
$color-primary: #fb1112;
$color-secondary: #e1edf2;
$color-primary-light: lighten($color-primary, 10%);
$color-secondary-light: lighten($color-secondary, 10%);

// Bg & Fg
$color-bg-light: #FDFDFC;
$color-bg-dark: #040400;

// Texts
$color-text-dark: #202022;
$color-text: #3c3b3c;
$color-label: #c3c4c2;


